/* globle reset to remove any extra space */
* {
    margin: 0px;
    padding: 0px;
}

/* to glide the page when you click on the link */
html {
    scroll-behavior: smooth;
    
}

/* web page body */


/* title name and liks main div for back ground color */
.header {


    height: 720px;
    background: linear-gradient(400deg, #9bafd9, #001C30, #9bafd9);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;


}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* titile name */
.tital_name {
    display: flex;
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    padding: 20px;
    color: #DAFFFB;
    border: 5px solid;
    border-radius: 20px;
    box-shadow: 0px 0px 10px white;



}

/* title name container */
.tital_name_container {
    height: 400px;
    display: flex;
    align-items: end;
    justify-content: center;

}

/* this the styling for hyperlinks */
.links,
#n1 {

    text-decoration: none;
    display: flex;
    gap: 20px;
    list-style-type: none;
    justify-content: center;
    flex-basis: 100px;
    flex: 1 0 1;
    padding: 10px;
    font-size: 30px;
    color: #DAFFFB;
    text-transform: capitalize;
    font-size: 2rem;

}

.top_nav {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 300px;


}

#n1:hover{
    background-color: #9bafd9;
    color: #001C30;
    border-radius: 6px;
   box-shadow: 0px 0px 20px white;
}























/* services that i am offering  */
.services_container_main {
    width: 100%;
    max-width: 100%;
    
    background-color: rgb(251, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 50px 0px;
    padding: 100px 0px 100px 0px;


}


.services_container {

    width: 87%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.services_container>div {

    height: 90%;
    width: 50%;
    text-align: center;
    font-size: 20px;




}

.services_container>div>img {
    width: 100px;
    padding: 20px;


}

.services_container>div>img:hover {
    background-color: #9bafd9;
    border-radius: 30%;
}

.services_container>div>p {
    color: gray;
}























/* my works cards*/

.projects_title_container {
    text-align: center;
    margin-top: 100px;
   

}

.projects_title {
    font-size: 3rem;
}

.grid_container {
    margin: 100px;

}

.projects_title_container>p {
    font-size: 1.2rem;
    color: gray;
}


.main_card_container {


    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 30px;
    justify-content: center;
    align-content: center;

}



.card {
    width: 100%;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;


}

.card:hover {

    transform: translate(-4px, -4px);
    box-shadow: 0px 0px 40px gray;
}

.card>h2 {
    padding: 15px 10px 10px 10px;
}

.card>a>img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;



}

.card>p {
    text-align: justify;
    margin-bottom: 10px;
    color: gray;
    padding: 10px;
}

/* Education background information styling */
.education_container_main {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 50px 0px;


}


.education_container {
    width: 87%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.education_container>div {
    text-align: center;
    font-size: 20px;



}

.education_container>div>img {
    width:100%;
    height:100%;
    margin: 0px;

}



.education_container>div>p {
    color: gray;
}

.left_edu {
    width: 200rem;
    height: 100%;
}

.right_edu {
    width: 100rem;
    height: 100%;
}


.left_edu>h3 {
    font-size: 40px;
    text-align: justify;
    padding-top: 50px;
    padding-left: 100px;
}

.table_list {
    text-align: justify;
    list-style-type: none;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 10px;
    line-height: 2rem;
    color: gray;

}






/* footer elements styling  */
.footer_main_container {
    background: oklch(21.74% 0.052 242.81);
    padding-bottom: 30px;
    width: auto;
    background-color: #001C30;

}

.a1:hover{
    background-color: #9bafd9;
    color: #001C30;
    border-radius: 4px;
    transform: translate(-4px, -4px);
    box-shadow: 0px 0px 10px white;
}

.footer_main {

    width: 100%;

}

/* footer list and anker */
.footer_list {
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 20px;
    padding-left: 30px;
    font-size: 25px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}




/* logo image  */
.logo>img {
    /* height: 120px; */
    width: 40px;
    
    padding: 1.5rem;
}

.logo:hover{
    
}


.sub_main_footer>ul {

    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    color: #9bafd9;
    font-size: 1.5rem;


}

.sub_main_footer>ul>li>a {
    text-decoration: none;
    color: white;


}


/* footer pagragraph element  */



/* copy right  */
.copy_rights {
    background-color:#9bafd9;
    padding: 10px;
    text-align: center;
    color:#001C30;
    font-size: 18px;
    text-transform: capitalize;
   

}












